/* styles.css */
*,*::after,*::before{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    margin: 10px;
    font-family: Arial, sans-serif;
}
/* first page-------------------------first page ----------------------------------------------------------first page ----------- */
.first_page{
    background-image:url(home_wire.png) , url(image_1.png) ,url(Rectangle\ 28.png),url(background.png);
    background-repeat: no-repeat;
    background-position: right bottom, left top, left, left ;
    height: 800px;
    width: 1500px;
}
.navigation{
    padding-top:  130px;
    text-align: right;
    font-size: 0.5cm;
    padding-right: 50px;
}
.text-nav{
    color: white;
    text-decoration: none ;
    padding-left: 20px;
}
.text-navv{
    color: yellow;
    text-decoration: none ; 
    padding-left: 20px;  
}
.text-part{
    padding-top: 120px;
    text-align: center;
}
.head-text{
     color: white;
     font-size: 1.5cm;
     padding-bottom: 50px;
}
.text-p{
    padding-top: 0px;
}
.bottem-text{
    color:white;
    font-size: 0.6cm;
    padding-left: 200px;
    padding-right: 200px ;
}
.last-b{
    padding-top: 60px;
}
#button{
    font-size: 1cm;
    border: 3px solid white;
    border-width:6px ;
    text-decoration: none;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
}
/* second page-------------------------second page ----------------------------------------------------------second page ----------- */
.seecond-page{
    background-image:url(left-top.png), url(left-buttom.png),url(undraw_sync.png);
    background-repeat: no-repeat;
    background-position: left top,left bottom, right;
    height: 800px;
    width: 1500px;
}
.text-part-2{
    padding-top:  250px;
    padding-left: 150px;
}
.hadding-2{
    
    font-size: 60px;
    padding-bottom: 50px;
}
.center-text{
    font-size: 28px;
    opacity: 0.7;
    padding-bottom: 20px;
}
.text-box-2{
    padding-top: 60px
}
#button-2{
    font-size: 0.7cm;
    border: 3px solid black;
    border-width:6px ;
    text-decoration: none;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;

}
/*  page-3------------------------- page-3 ---------------------pagr-3----------------------------------page-3------------ */
.page-3{
    background-image:url(right-bottom-one-image.png), url(Rectangle\ 28.png),url(backgroung-page.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 800px;
    width: 1500px;
}
.continar{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}
.left-3{
    width: 50%;
    color: white;
    padding-left: 20px;
}
.right-3{
    width: 50%;
}
.text-hadding{
    color:  #FFCD32;
}
.text-box-main{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.text-box-3-1{
    width:  50%;
}
.text-box-3-2{
    width: 50%;
}
.text-box{
    color: #9B9B9B;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #CA945766;
    width: 280px;
    background-color: transparent;
    padding-left: 10px;
}
.last-button{
    background-color: #FFCD32;
    line-height:30px ;
    border-radius: 8px;
    width: 190px;   
}
.h21-hadding{
    font-size: 40px;

}
.h-hadding{
    padding-bottom: 20px;
}

.line-1{
    width: 220px;
    height: 10px;
    background: linear-gradient(to left, #000000, #ffffff);
    border-radius: 20px;
}
.p-tage{
    font-size: 20px;
}
/*  page-4------------------------- page-4 ---------------------pagr-4----------------------------------page-4------------ */
.page-4{
    height: 400px;
    width: 1500px;
    display: flex;
    padding-top:  110px;
    padding-left: 50px;
}
#left-side{
    width: 50%;
    align-items: center;
    padding-left: 150px;    
}
#right-side{
    width: 50%;
    padding-left: 50px;
}
#h1{
    font-size: 40px;
    padding-bottom:30px;
}
.text-44{
    display: flex;
}
.text-444{
    width: 50%;
}
.text-4444{
    width: 50%;
}
.a-link{
    color: #717171;
    text-decoration: none;
}




